body {
  background: #000;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #f2b33d;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  margin: 0 10px;
  list-style: none;
  display: block;
  line-height: 30px;
  border-bottom: 1px solid #d39b33;
}

#menu ul li.active {
  background: #fbce52;
}

#menu ul li a {
  padding: 6px 0;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.1s;
  -ms-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.1s;
  -o-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

#menu ul li:hover {
  border-bottom: 1px solid #000;
}

#menu ul li a:hover {
  color: #000;
}

.menu_icon {
  position: fixed;
  left: 20px;
  top: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAASCAYAAAADr20JAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAe5JREFUeNrUl0tLQkEUx+eGUPSggoi+Qd8hiiKyKBVJE7QXLWoV9FGCIChol1AQJlS7Fu0LWgRtKoJa9cBMxWdZt/+Jc2GymyncuXAHfgrOnPGeex7/GU3X9SchRLNQNy5Av4X70bOugTOwVadtCPjAitDVjysgLGSV982DSB12E+CVbaMueH8CmhRG/Nri/Y7BHOgC24B8iP5j4wW7oBVkwZGwOBp2MUAlKkU+XGXtGEjy2gzw0e9OdZwYBi/sUAlMm6wZB2npBQWMOSc7TgyBZ8mxkDTnll4MRdov22r46EHOawpr/B0kFO4/AvZAJ8iDGZAB+6ADFLknxH5YwfGs4q5+blPaG5HPcYSNSAfMbBrge4tQO9qE+kHKNAWSrPP0nwUwD+JmBi5OgUaFD3Ur7BkflMByMoPyX4u17w7n/DHIdd7NNf3JkU9z1A9/WTi8qxudPSF19iAYlWSMan6y0s7pTtNB5pEdLFZoOWl4iufo21MpZ72K5YxS705Resf46PoGFk2OrnQh2eGjao6l7sBI9bJiObtUEOk+8MD7F8BslbUe6XKS4suKsON2dmOx027pnE5BW6jBxs+1bmh7kORsU7Gc3Vu8n5e7dwks1XAzE5zeEb7NtYOAE+WM6nUdnIKNOm3DwA+WvwQYAAWqZfqMuV0VAAAAAElFTkSuQmCC) no-repeat;
  width: 30px;
  height: 18px;
}

h1,
p {
  color: #FFF;
}

.header {
  display: block;
  height: 50px;
}

.header h1 {
  padding-left: 100px;
  margin: 0;
}
