


/*sidebar styles begin here*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
		background-color: #1f2122
}

.splash_screen {
  background: url("https://static.pexels.com/photos/1227/night-dark-blur-blurred.jpg");
}

.splash_logo {
  height: 100px;
  position: fixed;
  top: 100px;
  left: 450;
}

.splash_body{
  color: white;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3c9ebc;
    color: white;
    text-align: center;
}

.tagline {
  position: fixed;
  left: 560px;
  top: 211px;
}

.footer{
  position: fixed;
  top: 450px;
  font-size: 30pt;
  text-align: center;
  right: 100px;
  left: 100px;
}

input[type=submit] {
    background-color: #27333c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 69px;
    border-radius: 5px;
}

.zipForm {
  position: fixed;
  left: 540px;
  top: 250px;
  width: 100%;
}


.sidebar {
list-style-type: none;
margin: 0;
padding: 0;
width: 192px;
background-color: #252525;
position: fixed;
height: 100%;
overflow: auto;
font-family: 'Source Sans Pro', sans-serif;
}
.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
}

.profile_pane {
  margin: 0;
  padding: 0;
  width: 192px;
  background-color: #505050;
  position: fixed;
  height: 150px;
}

.profile_pane.collapsed {
    max-width: 0;
    overflow: hidden;
}

.profile_picture {
  position: relative;
  height: 80px;
  margin-top: 10px;
  margin-left: 57px;
}

.menu_options {
  position: absolute;
  color:green;
  padding-top: 179px;
}

.sidebar.profile_pane.collapsed {
    max-width: 0;
    overflow: hidden;
}

.mainbar .hamburger_menu {
  height: 60%;
  padding-left: 5px;
  padding-top: 10px;
}

.mainbar {
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
		height:50px;
}

header {
	margin-left: 40%;
}

.mainbar .home_logo {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 30px;
  padding-top: 13px;

}

.user_info {
  text-align: center;
  color: #d0d0d0;
  padding: 5px;
}

.weather_container {
	  background-color: #4e5f69;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.temperature {
  color: white;
}
