

/*general styles*/
html {
	height: 100%;
	width: 100%;
}
body {
    margin: 0;
	width: 100%;
	background: url("../../media/images/raindrop2.jpg") center no-repeat;
	background-size: 100% 100%;
	background-color: #cfd2d6;
}

p {
	color: white;
	padding-bottom: 5%;
}
/*headings*/
h1 {
  color: white;
  font-size: 1.8em;
  text-align: center;
  padding: 0px;
}
h2 {
	font-sixe:.5em;
	padding: 0px;
	text-align: center;
}
/*toggle section*/
.toggle {
	margin: 0;
	padding: 0;
	background-color: #292c30;
	position: fixed;
	height: 80px;
	width: 80px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*login section*/
.login {
	float: right;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.login ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4db8ff;
	height: 80px;
	width: 160px;
	overflow: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.login ul li {
	display: inline;
	border-right: 1px solid #292c30;
	/*float: right;*/
	text-align: center;
}
.login ul li a {
	text-align: center;
    color: white;
    padding: 16px 16px 16px 16px;
    text-decoration: none;
}

.login ul li a.active {
    background-color: white;
    color: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login li a:hover:not(.active) {
    background-color: gray;
    color: white;
    padding: 16px 16px 16px 16px;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*button styling*/
button {
	display:inline-block;
	padding: 5px;
	cursor: pointer;
	height: 100%;
	width: 100%;
	border: none;
	background: url("../../media/images/hamburger_button.png") 100% no-repeat;
	background-position: center;
}
/*hamburger button styling*/
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  border:none;
  transform: translateY(4px);
}

/*sidebar styles begin here*/

.sidebar {
list-style-type: none;
margin: 0;
padding: 0;
width: 25%;
background-color: #04193a;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
}
.profile_section {
	text-align: center;
	background-color: #373b42;
}
.profile {
	width: 150px;
	height: 150px;
	margin-top: 5%;
	display: inline-block;
	border-radius: 50%;
	background-color: #22242c;
}

.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #04193a;
    position: fixed;
    height: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.sidenav li {
	border-bottom: 1px solid #292c30;
}
.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.sidenav li a.active {
    background-color: white;
    color: black;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*mainbar styles*/

.mainbar {
    margin: 0;
    padding: 0;
	margin-left: 80px;
	margin-right: 160px;
    overflow: hidden;
	color: white;
	height:80px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	/*background: url("../../media/images/rain2.jpg") 100% no-repeat;*/
	background-color: black;
}

.mainbar .home_logo {
	padding: 10px;
	color: white;
	text-decoration: none;
}

.test_box {
	background-color: lightblue;
    width: 100%;
    padding: 3%;
    margin: 3%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

/*settings list*/
.settings_list {
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #04193a;
    height: 100%;
    overflow: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	box-shadow: none;
}
.settings_list li {
	list-style-type: none;
	color: black;
	background-color: white;
	border-bottom: 1px solid lightgray;
	padding: 10px;
	box-shadow: none;
}
.settings_list li a {
	display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
	box-shadow: none;
}

.settings_list li a:hover:not(.active) {
    background-color: lightgray;
    color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}